# vim:set ft=yaml:
progress: true

data:
  {{- $machine := promptChoice "Machine type" (list "home" "work") }}
  machine: "{{ $machine }}"

  {{- if eq $machine "work" }}
  main_monitor: 0
  secondary_monitor: 1
  {{- else if eq $machine "home" }}
  main_monitor: 1
  secondary_monitor: 0
  {{- end }}

