# vim:set ft=yaml:
progress: true

data:
  {{- $machine := promptChoice "Machine type" (list "home" "work") }}
  machine: "{{ $machine }}"

  {{- if eq $machine "work" }}
  main_monitor: 0
  secondary_monitor: 1
  {{- else if eq $machine "home" }}
  main_monitor: 1
  secondary_monitor: 0
  {{- end }}

status:
  exclude: ["scripts"]

diff:
  exclude: ["scripts"]

encryption: "age"

age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "age1qzq2dcgx9vlry7lqsydh0jdxp7qm7axndc3a2wn9cn0ndrrl7cesrx4s9c"

