# vim:set ft=ps1:
$ErrorActionPreference = "Stop"
Set-StrictMode -Version Latest

function Write-Chezmoi {
  param (
    $Message
  )
  $color = "DarkBlue"
  Write-Output ""
  Write-Host "************************************************" -ForegroundColor $color
  Write-Host " CHEZMOI - $Message" -ForegroundColor $color
  Write-Host "************************************************" -ForegroundColor $color
  Write-Output ""
}

################################################################################

Write-Chezmoi "Base system packages list update"

# refresh Path environment variable, in case a setup script ran before
$env:Path = `
  [System.Environment]::GetEnvironmentVariable("Path","Machine") `
  + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

# install scoop packages
{{- if .scoop.packages }}
scoop install {{ range .scoop.packages }}{{ . }} {{ end }}
{{- end }}
{{- if .scoop.su_packages }}
sudo scoop install {{ range .scoop.su_packages }}{{ . }} {{ end }}
{{- end }}

# install msys2 packages
{{- if .msys2.packages }}
$sh = Join-Path $(scoop prefix msys2) "usr\bin\sh"
& $sh --noprofile --norc -c `
    "/usr/bin/pacman -S --noconfirm --needed {{ range .msys2.packages }}{{ . }} {{ end }}"
{{- end }}

# install python base packages
