# vim:set ft=ps1:
$ErrorActionPreference = "Stop"
Set-StrictMode -Version Latest

function Write-Chezmoi {
  param (
    $Message
  )
  $color = "DarkBlue"
  Write-Output ""
  Write-Host "************************************************" -ForegroundColor $color
  Write-Host " CHEZMOI - $Message" -ForegroundColor $color
  Write-Host "************************************************" -ForegroundColor $color
  Write-Output ""
}

################################################################################

Write-Chezmoi "Base system packages list update"

# refresh Path environment variable, in case a setup script ran before
$env:Path = `
  [System.Environment]::GetEnvironmentVariable("Path","Machine") `
  + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

# install scoop packages
{{- if .scoop.packages }}
  {{- range .scoop.packages }}
scoop install {{ . }}
  {{- end }}
{{- end }}

{{- if .scoop.su_packages }}
sudo scoop install {{ range .scoop.su_packages }}{{ . }} {{ end }}
{{- end }}

{{- if .python.pip }}
python3 -m pip install --user {{range .python.pip}}{{ . }} {{end}}
{{- end }}

{{- if .python.tool }}
# install python tools (executable)
  {{- range .python.tool }}
uv tool install `
  {{if haskey . "python"}}--python {{.python}}{{end}} `
  {{range .deps}}--with {{.}} {{end}} `
  {{.pkg}}{{if haskey . "opt"}}{{.opt}}{{end}}
  {{- end }}
{{- end }}

# install msys2 packages
{{- if .msys2.packages }}
$sh = Join-Path $(scoop prefix msys2) "usr\bin\sh"
& $sh --login --norc -c `
    "pacman -S --noconfirm --needed {{ range .msys2.packages }}{{ . }} {{ end }}"
{{- end }}

{{- if .node.npm }}
Set-StrictMode -Off
npm install -g {{range .node.npm}}{{ . }} {{end}}
Set-StrictMode -Version Latest
{{- end }}
{{- if .node.windows }}
Set-StrictMode -Off
npm install -g {{range .node.windows}}{{ . }} {{end}}
Set-StrictMode -Version Latest
{{- end }}
