# vim:set ft=ps1:

# This scipt is idempotent: all of these comment succed even if they have
# already been executed once.

# safe PowerShell mode
$ErrorActionPreference = "Stop"
Set-StrictMode -Version Latest

function ChezMoi-Echo {
  param (
    $Message
  )
  $color = "DarkBlue"
  Write-Output ""
  Write-Host "************************************************" -ForegroundColor $color
  Write-Host " CHEZMOI - $Message" -ForegroundColor $color
  Write-Host "************************************************" -ForegroundColor $color
  Write-Output ""
}

function Write-Blue {
  param ( $Message )
  $color = "DarkBlue"
  Write-Host $Message -ForegroundColor $color
}

ChezMoi-Echo "Initial setup script"

# TODO: better to start off assuming that scoop is available, everything will be much easier

################################################################################
# SCOOP
################################################################################
try {
  Get-Command "scoop" -ErrorAction Stop
  Write-Blue "Command 'scoop' exists: skipping install"
  # TODO: create %USERPROFILE%\scoop junction if it does not exist?
} catch {
  # install scoop
  Write-Blue "Installing scoop"
  Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

  # install and enable aria2
  scoop install aria2
  scoop config aria2-enabled true
  scoop config aria2-warning-enabled false

  # add buckets - requires git
  scoop install git
  {{- range .scoop.buckets }}
  scoop bucket add {{ . }}
  {{- end }}

  # install sudo, so that regular update scripts can run
  scoop install sudo
}


################################################################################
# MSYS2
################################################################################
try {
  Get-Command "ucrt64" -ErrorAction Stop
  Write-Blue "Command 'ucrt64' exists: skipping msys2 install"
} catch {
  Write-Blue "Installing msys2"

  # install msys2
  scoop install msys2
  # link home directory
  $msys2_prefix = scoop prefix msys2
  $msys2_home = "$msys2_prefix\home\$($env:USERNAME.ToLower())"
  cmd /c "mklink /J `"$msys2_home`" `"$env:USERPROFILE`""
  # TODO: set `db_home: windows cygwin desc` in /etc/nsswitch.conf
  # first launch of msys2 + upgrade (twice, to account for full system upgrade)
  msys2 -no-start -c 'echo MSYS2 init. complete'
  $sh = Join-Path $msys2_prefix "usr\bin\sh"
  & $sh --noprofile --norc -c "/usr/bin/pacman -Syu --noconfirm"
  & $sh --noprofile --norc -c "/usr/bin/pacman -Syu --noconfirm"
}

################################################################################
# WSL
################################################################################
# TODO: really want to do that?

# try {
#   $wsl = Get-Command "wsl" -ErrorAction Stop
#   ChezMoi-Echo "Setting up WSL"
#   wsl --install -d Ubuntu --no-launch
# } catch {
#   ChezMoi-Echo "Command 'wsl' unavailable: skipping"
# }
