# vim:set ft=ps1:

# install a bunch of scoop packages
scoop install {{ range .scoop.packages }}{{ . }} {{ end }}
sudo scoop install {{ range .scoop.su_packages }}{{ . }} {{ end }}

# first launch of msys2 + upgrade
ucrt64.cmd -c "pacman -Syu --noconfirm"
# install msys2 packages
ucrt64.cmd -c "pacman -S --noconfirm {{ range .msys2.packages }}{{ . }}{{ end }}"

# TODO:
#   - setup ucrt64.ini
#   - create link to home directoru
#   - change shell to zsh
