#!/usr/bin/env bash
{{/* vim:set ft=sh: */}}
set -euo pipefail

function _command_exists() {
  command -v "${*}" &> /dev/null
}

function _blue() {
  printf "\e[34m%s\033[0m\n" "${*}"
}

function _chezmoiprint() {
  _blue "###############################################################################"
  _blue "CHEZMOI - ${*}"
  _blue "###############################################################################"
}

################################################################################

_chezmoiprint "Default packages installation"

{{- if .apt.install }}
if _command_exists apt;
then
  sudo apt install --yes {{ range .apt.install }}{{ . }} {{ end }}
fi
{{- end }}

{{- if .brew.install }}
brew install --quiet {{ range .brew.install }}{{ . }} {{ end }}
{{- end }}

{{- if .flatpak.install }}
flatpak install --assumeyes {{ range .flatpak.install }}{{ . }} {{ end }}
{{- end }}


{{- if .python.pip }}
python3 -m pip install --user {{ range .python.pip }}{{ . }} {{ end }}
{{- end }}

{{- if .python.pipx }}
pipx install {{ range .python.pipx }}{{ . }} {{ end }}
{{- end }}

# TODO: find a way to install nerdfonts decently
